body {
    /* background: #cc6611 url(//images.pexels.com/photos/131634/pexels-photo-131634.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) repeat scroll top left; */
    /* background: #cc6611 url() repeat scroll top left; */
    /* background: #fafafa url(../img/bg/1.png) no-repeat scroll top left !important; */
    background-color: #fcfcfc;
}

.sidebar-content-desc {
    /* padding: 10px 10px 5px 10px; */
    /* border-radius: 80px; */
    /* background: #38761d url(https://resources.blogblog.com/blogblog/data/1kt/simple/gradients_light.png) repeat-x scroll 0 -400px; */
}


h1.sidebar-heading {
    padding-bottom: 0;
    margin-bottom: 0;
}

.sidebar-heading {
    background: #38761d;
    border-radius: 2px 2px 0 0;
}

.sidebar-heading>a {
    font: normal normal 60px Dancing Script;
    text-transform: none;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
    color: #ffffff;
    margin-left: 20px;
}

.sidebar-p {
    font-family: "Dancing Script";
    font-size: 30px;
    color: #ffffff;
    background: #38761d;
    padding-left: 20px;
    border-radius: 0 0 2px 2px;
}

.sidebar-menu>li>span {
    color: #555555;
}

.sidebar-menu>li.sidebar-sub-menu.active a {
    color: #555555;
}
.sidebar-menu>li.sidebar-sub-menu.active:before {
    color: #555555;
}
.sidebar-menu>li.sidebar-sub-menu:hover a {
    text-decoration: none;
    color: #555555;
}
.sidebar-menu>li.sidebar-sub-menu:hover:before {
    color: #555555;
}