body {
    background-color: #fcfcfc;
}

.sidebar-heading {
    background: #38761d;
    border-radius: 3px 3px 0 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.sidebar-heading>a,
.sidebar-heading>a:hover {
    font: normal normal 60px Dancing Script;
    text-transform: none;
    border-bottom: 0;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
    color: #ffffff;
    margin-left: 20px;
}

.sidebar-p {
    background: #38761d;
    color: #ffffff;
    /* color: #312525; */
    font-family: "Dancing Script";
    font-size: 28px;
    padding-left: 20px;
    border-radius: 0 0 3px 3px;
}

.sidebar-px {
    /* color: #ffffff; */
    color: #312525;
    font-family: "Dancing Script";
    font-size: 30px;
}

.sidebar-menu>li>span {
    color: #555555;
}

.sidebar-menu>li.sidebar-sub-menu.active a {
    color: #555555;
}
.sidebar-menu>li.sidebar-sub-menu.active:before {
    color: #555555;
}
.sidebar-menu>li.sidebar-sub-menu:hover a {
    text-decoration: none;
    color: #555555;
}
.sidebar-menu>li.sidebar-sub-menu:hover:before {
    color: #555555;
}